<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This is a Steven Universe quote generator created by Ben Kim.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ben.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ben Kim</h2>
      <br />
      <p>
        Ben is an educator, developer, and Steven Universe super fan.
      </p>
    </div>
  </div>
  <br class="clear">

  <br />
  <br />
  <br />
  <br />
  <br />



</div>